body{
    background-color: #3D087B;
    /* border: 5px solid cyan; */
}
@media (max-width: 450px){
    body{
        background-color: #3D087B;
       
        /* border: 5px solid whitesmoke; */
    }
}
.backround{
    display: flex;
    flex-direction: column;
    /* border: 5px solid cyan; */
}
.part1{
    display: flex;
    flex-direction: column;
    background-color: azure;
}
.clock{
    position: absolute;
    top: 59px;
    left: 124px;
    width: 204px;
    height: 77px;
    background: transparent url('./clock_logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
@media (max-width: 450px){
    .clock{
    position: absolute;
    top: 25px;
    left: 16px;
    width: 204px;
    height: 79px;
    background: transparent url('./clock_logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    }
}
.part2{
    display: flex;
    background-color: yellow;
}
.bigbox{
    border-radius: 15px;
    border: 2px solid black;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: absolute;
    top: 163px;
    left: 149px;
    width: 517px;
    height: 335px;
    opacity: 1;
}
@media (max-width: 450px){
    .bigbox{
    border-radius: 15px;
    border: 2px solid black;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background-color: #9263c9;
    position: absolute;
    top: 40%;
    left: 1%;
    width: 100%;
    height: 335px;
    opacity: 1;
    }
}
.massage{
        position: absolute;
        top: 527px;
        left: 124px;
        width: 566px;
        height: 77px;
    border: 1px solid;

    border: 1px solid #EDEDED;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    
    color: rgb(245, 238, 238);
}
@media (max-width: 450px){
    .massage{
        position: absolute;
        top: 613px;
        left: 0px;
        width: 100%;
        height: 77px;
        border: 1px solid;
        background: #FFFFFF;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        opacity: 1;
        text-align: center;
        font-size: x-large;
        color: black;
    }  
}
.set{
    position: absolute;
    top: 39rem;
    left: 9rem;
    width: 250px;
    height: 59px;
    letter-spacing: 0px;
    border: 2px solid black;
    border-radius: 25px;
    cursor: pointer;
    background-image: linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
}
.set:hover{
/* color: #6E54EC; */
background: transparent linear-gradient(280deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;

}
.textsetalarm{
    /* display: inline-block; */
    position: relative;
    top: 1rem;
    left: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    opacity: 1;
}
.set:hover .textsetalarm{ 
   display: none; 
}
.set:hover:before{
    content: "Party time!";
    display: inline-block;
    position: relative;
    top: 1rem;

    left: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    opacity: 1;

}
  
@media (max-width: 450px){
    .set {
        position: absolute;
        top: 44rem;
        left: 6rem;
        width: 250px;
        height: 59px;
        border: 2px solid black;
        border-radius: 25px;
        cursor: pointer;
        background-image: linear-gradient(to right,#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);   
    }  
}
 .set2 {
     position: absolute;
    top: 615px;
    left: 420px;
    width: 253px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 10px;
    text-align: left;
    background-color: #F25CFE;
    }
    @media (max-width: 450px){
       .set2 {
            position: absolute;
            top: 775px;
            left: 96px;
           width: 253px;
           height: fit-content;
           border: 2px solid black;
           border-radius: 10px;
           text-align: left;
           background-color: #F25CFE;
           }   
    }
    .massage2{
        position: absolute;
        top: 212px;
        left: 706px;
        width: 536px;
        height: 118px;
       
        border-radius: 8px 8px 0 0;
        background:white;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #3D087B;
        font-size: 30px;
    }
    @media (max-width: 450px){
        .massage2{
            position: absolute;
            top: 951px;
            left: 0px;
            width: 100%;
           
            border-radius: 8px 8px 0 0;
            background:white;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #3D087B;
            font-size: 30px;
        }
    }
  .img{
        background-image: url(./GM.jpg);
        position: absolute;
        top: 118px;
        /* left: 500px; */
        width: 536px;
        height: 341px;
        border-radius: 0 0 8px 8px;
    }
     @media (max-width: 450px){
        .img{
            background-image: url(./GM.jpg);
            position: absolute;
            top: 118px;
            left: 0px;
            width: 100%;
            height: 341px;
            border-radius: 0 0 8px 8px;
        }
    }
       
    .wakeup {
        position: relative;
        top: 1%;
        left: 4px;
        /* width: 214px; */
        height: 23px;
        color: var(--unnamed-color-3d087b);
        text-align: left;
        /* color: #3D087B; */
        color: #3D087B;
        /* opacity: 1; */
    }
    #waketime{
        position: absolute;
        top: 74%;
        left: 36%;
        width: 50%;
        height: 23px;
text-align: center;
    }
    .lunch{
        position: relative;
        top: 17%;
        left: 4px;
        /* width: 214px; */
        height: 23px;
        color: var(--unnamed-color-3d087b);
        text-align: left;
        /* color: #3D087B; */
        color: #3D087B;
        /* opacity: 1; */
    }
    #lunchtime{
        position: absolute;
        top: 79%;
        left: 36%;
        width: 50%;
        height: 23px;
text-align: center;
    }
    .nap{
        position: relative;
        top:40%;
        left: 4px;
        /* width: 214px; */
        height: 23px;
        color: var(--unnamed-color-3d087b);
        text-align: left;
        /* color: #3D087B; */
        color: #3D087B;
        /* opacity: 1; */
    }
    #naptime{
        position: absolute;
        top: 72%;
        left: 36%;
        width: 50%;
        height: 23px;
text-align: center;
    }
    .night{
        position: relative;
        top: 62%;
        left: 4px;
        width: 100%;
        height: 23px;
        color: var(--unnamed-color-3d087b);
        text-align: left;
        /* color: #3D087B; */
        color: #3D087B;
        /* opacity: 1; */
    }
    #nighttime{
        position: absolute;
        top: 34%;
        left: 36%;
        width: 50%;
        height: 23px;
text-align: center;
    }
    .hrline1{
        position: absolute;
        top: 14%;
        left: 17px;
        border-left: 3px solid #3D087B;
        height: 30px;
    }
    .hrline2{
        position: absolute;
        top: 39%;
        left: 17px;
        border-left: 3px solid #3D087B;
        height: 30px;
    }
    .hrline3{
        position: absolute;
        top: 69%;
        left: 17px;
        border-left: 3px solid #3D087B;
        height: 30px;
    }
    .currentTime1{
        position: absolute;
        top: 67px;
        left: 785px;
        width: 379px;
        height: 130px;
        background: #801df1;
       
        border-radius: 10px;
        z-index: -2;
    }
    @media (max-width: 450px){
        .currentTime1{
            position: absolute;
            top: 19.2%;
            left: 11%;
            width: 80%;
            height: fit-content;
            height: 130px;
            background: #801df1;
           
            border-radius: 10px;
            z-index: -2;
        }
    }
    .currentTime2{
        position: absolute;
        top: 55px;
        left: 766px;
        width: 416px;
        height: 130px;
        background:#6c36aa ;
        border-radius: 10px;
        z-index: -1;
    }
    @media (max-width: 450px){
        .currentTime2{
            position: absolute;
            top: 22%;
            left: 8%;
            width: 87%;
        
            height: 100px;
            background:#af78ee;
            border-radius: 10px;
            z-index: -1;
        }
    }
    .currentTime3 {
     
        position: absolute;
        top: 42px;
        left: 706px;
        width: 536px;
        height: 130px;
        background:#c99efa;
        border: 1px solid #EDEDED;
        border-radius: 10px;
        z-index: 1;
    }
    @media (max-width: 450px){
        .currentTime3{
            position: absolute;
            top: 18%;
            left: 2%;
            width: 100%;
            height: fit-content;
            background: #c99efa;
            border: 1px solid #EDEDED;
            border-radius: 10px;
            z-index: 1;
        }
     }
    
    .flexitem{
        display: flex;
        flex-direction: row;
      align-items: center; 
      text-align: center;
        align-content: space-around; 
        text-align: center;
        width: 82px;
        height: 90px;
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 5%;
    }
    @media (max-width: 450px){
        .flexitem{
            display: flex;
            flex-direction: row;
          align-items: center; 
          text-align: center;
            align-content: space-around; 
            text-align: center;
            width: fit-content;
            height: 90px;
            margin-top: 5%;
            margin-left: 2%;
            margin-right: 5%;
        } 
    }
    
    .time{
        font-size: x-large;
        color: #3D087B;
        position: absolute;
        top: 53px;
        left: 15px;
        height: fit-content;
    }
    @media (max-width: 450px){
        .time{
            font-size: x-large;
            color: #3D087B;
            position: absolute;
            top: 40px;
             left: 9px;
            height: fit-content;
        }
    }
    
    
    #sethours{
        background-color:#F6E2FF;
        position: absolute;
        top: 5px;;
        left:93px;
        width: 82px;
        height: 90px;
        font: normal normal normal 23px/28px Barlow;
    }
    @media (max-width: 450px){
        #sethours{
            background-color:#F6E2FF;
            position: absolute;
            top: 0px;
            left: 4.5rem;
            width: 64px;
            height: 78px;
            font: normal normal normal 23px/28px Barlow;
            
        }
    }
    .hours{
         position: absolute;
        top: 55px;;
        left:118px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
    }
    @media (max-width: 450px){
        .hours{
           position: absolute;
           top: 55px;;
           left:85px;
           font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
           font-size: xx-large;
       }
    }
    
    #setmins{
        background-color:#F6E2FF;
        position: absolute;
        top: 5px;
        left: 205px;
        width: 82px;
        height: 90px;
        font: normal normal normal 23px/28px Barlow;
    }
    @media (max-width: 450px){
        #setmins{
            background-color:#F6E2FF;
            position: absolute;
            top: 0px;
            left: 10.5rem;
            width: 64px;
            height: 78px;
            font: normal normal normal 23px/28px Barlow;
        }   
    }
    .mins{
        position: absolute;
       top: 55px;;
       left:227px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: xx-large;
   }
   @media (max-width: 450px){
    .mins{
        position: absolute;
       top: 55px;;
       left:182px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: xx-large;
   } 
   }

    
    #setsecs{
        background-color:#F6E2FF;
        position: absolute;
        
        top: 5px;
        left: 316px;
        height: 90px;
        width: 82px;
        font: normal normal normal 23px/28px Barlow;
    }
    @media (max-width: 450px){
        #setsecs{
            background-color:#F6E2FF;
            position: absolute;
            
            top: 0px;
            left: 16.5rem;
            width: 64px;
            height: 78px;
            font: normal normal normal 23px/28px Barlow;
        }   
    }
    .secs{
        position: absolute;
       top: 55px;;
       left:337px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: xx-large;
   }
   @media (max-width: 450px){
    .secs{
        position: absolute;
       top: 55px;;
       left:278px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: xx-large;
   }

   }
    #setampm{
        text-align: center;
        background-color:#F25CFE;
        position: absolute;
        top: 5px;
        left: 418px;
        height: 90px;
        width: 65px;
        font: normal normal normal 23px/28px Barlow;
    }
    @media (max-width: 450px){
        #setampm{
            text-align: center;
            background-color:#F25CFE;
            position: absolute;
            top: 0;
            left: 21.5rem;
            width: 64px;
            height: 78px;
            font: normal normal normal 23px/28px Barlow;
        }

    }
    .ampm{
        position: absolute;
       top: 55px;;
       left:427px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: xx-large;
       color: #801df1;
   }
   @media (max-width: 450px){
    .ampm{
        position: absolute;
       top: 50px;;
       left:353px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: xx-large;
       color: #801df1;
   }  
   }
   .colon1{
        position: absolute;
        top: 51px;
        left: 189px;
        font-size: xx-large;
    }
    @media (max-width: 450px){
         .colon1{
        position: absolute;
        top: 45px;
        left: 147px;
        font-size: xx-large;
    }
    }
    .colon2{
        position: absolute;
        top: 51px;
        left: 298px;
        font-size: xx-large;
    }
    @media (max-width: 450px){
        .colon2{
            position: absolute;
            top: 45px;
            left: 245px;
            font-size: xx-large;
        }

    }
   
